* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	background-color: white;
	font-family: 'Poppins', sans-serif;
}


/*nav*/

nav {
	width: 100%;
	height: 70px;
/*	background-color: #147EFB;*/
	background: linear-gradient(
		to right bottom, 
		rgba(25, 126, 255, 0.9),
		rgba(25, 126, 255, 0.9)
	);
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 3;
	backdrop-filter: blur(15px);
}

nav:hover {
/*	background-color: #147EFB;*/

}

.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.logo {
	float: left;
	font-size: 20px;
	letter-spacing: 1px;
	font-style: bold;
	margin-top: 15px;
}


.logo img {
	width: 48px;
	float: left;
	margin-top: 2px;
	margin-right: 15px;
}

.logo h1 {
	float: left;

}

.logo a {
	text-decoration: none;
	color: white;
	opacity: 1;
	font-weight: 500;
}

.nav-right-part {
	float: right;
}

.nav-links {
	float: left;
	margin-top: 2px;
}

.nav-links li {
	float: left;
	list-style: none;

	padding: 22px;
}


.nav-links a:hover {
	opacity: 1;
	font-weight: 400;
	text-decoration-line: underline;
}

.nav-links a {
	text-decoration: none;
	color: white;
	opacity: 0.8;
	font-size: 16px;
	font-weight: 400;
}


.burger-button {
	display: none;
	float: left;
	margin-top: 20px;
	cursor: pointer;
}

.burger-button div {
	width: 25px;
	height: 3px;
	background-color: black;
	margin: 5px;
	border-radius: 1px;
}

@media screen and (max-width: 768px) {
/*	body {
		overflow-x: hidden;
	}*/
	.nav-links {
		position: fixed;
		right: 0px;
		height: 92vh;
		top: 67px;
		background: linear-gradient(to left bottom, 
		rgba(25, 126, 255, 0.95),
		rgba(25, 126, 255, 1)
		);
		display: flex;
		flex-direction: column;
		align-items: center;	
		justify-content: space-evenly;
		width: 0%;
		/*transform: translate(100%);*/
		transition: 0.4s ease-in;
		overflow: hidden;;
	}
	.nav-links li {
		opacity: 0.8;
	}
	.burger-button {
		display: block;
	}
}

.nav-active {
	/*transform: translate(0%);*/
	width: 50%;
}

.toggle .line1 {
	transform: rotate(-45deg)translate(-5px,6px);
	transition: 0.3s ease-in;
}
.toggle .line2 {
	opacity: 0;
	transition: 0.2s ease-in;
}

.toggle .line3 {
	transform:rotate(45deg)translate(-5px,-6px);
	transition: 0.3s ease-in;

}




/*main content*/

.main-content {
	color: black;
	background-color: white;
	margin-top: 70px;
}

.welcome-page {
	height: 90vh;
}

.home-page-text {
	width: 40%;
	float: left;
	padding-top: 200px;
}

.home-page-text div {
	margin-top: 15px;
}

.home-page-img {
	padding-left: 50px;
	float: left;
	text-align: right;
	width: 60%;
}

.home-page-img img {
	margin-top: 54px;
	width: 100%;
}

.karten-container {
	clear: both;
	height: 100vh;
	background-color: white;
	padding-top: 25px;
}

.karte {
	float: left;
	background-color: #f7f7f7;
	border: 1px solid #147EFB;
	border-radius: 25px;
	height: 540px;
	width: 40%;
	padding: 15px;
}

.karte h3 {
	text-align: center;

}

.karte img {
	margin-top: 5px;
	padding: 30px;
	width: 100%;
	height: 210px;
}


.karten-text {
	margin-top: 13px;
	margin-left: 8%;
	line-height: 1.5;
}

.karten-button {
	margin-top: 40px;
	width: 40%;
	height: 40px;
	margin-left: auto;
	margin-right: auto;

}

.karten-button button {
	color: white;
	opacity: 0.8;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	border: none;
	background-color: #147EFB;
}

.rechts {
	float: right;
}



